/* h1{
  color: red;
  border: 1px solid;
} */

head {
  position: sticky;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  /* max-width: 768px; */
}

/* h3{
  display:block;
}
p{
  display:block;
} */

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

.titleText {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: _vw;
  margin: 0;
  padding: 0 10px;
  color: lightblue;
  background-color:#222;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
  text-decoration: none; 
  color: #9c4500;
}

.linkz {
  background-color:lightblue;
}

.floatingLink {
  color: orange;
}

#navLinkz {
  display: none;
}

.callout{
  /* -webkit-box-shadow: -1px 1px 5px 9px lightblue;
  -moz-box-shadow: -1px 1px 5px 9px lightblue;
  box-shadow: -1px 1px 5px 9px lightblue; */
}

#stickyLogo{
  position:absolute;
  top:20vh;
  right:0em;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 0.05;
  overflow:hidden;


}
.stickyLogo img{
  /* opacity: 0.5; */
  /* max-width:40%; */
  overflow:hidden;
}

.container p img{
  max-width: 49%;
}
.column p img{
  max-width: 100%;

}

@media only screen and (max-width: 600px) {
  .container p img{
    max-width: 100%;
  }
}




/*! Spectre.css Icons v0.5.9 | MIT License | github.com/picturepan2/spectre */
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon.icon-2x {
  font-size: 1.6rem;
}

.icon.icon-3x {
  font-size: 2.4rem;
}

.icon.icon-4x {
  font-size: 3.2rem;
}

.accordion .icon,
.nav-accordion .icon,
.btn .icon,
.toast .icon,
.menu .icon {
  vertical-align: -10%;
} 

.icon-menu::before {
  background: currentColor;
  box-shadow: 0 -.35em, 0 .35em;
  height: .1rem;
  width: 100%;
}

.scheduleLine > div{
  border-bottom: 1px solid black;
}

.fullWidthPic{
  max-width: 100%;
}

/* Accordion styling */
details.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 1rem 0;
}

details.accordion .accordion-header {
  padding: 1rem;
  background-color: #f7f7f7;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

details.accordion .accordion-header:hover {
  background-color: #eee;
}

details.accordion .accordion-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

details.accordion .accordion-body {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.accordion-icon {
  display: inline-block;
  transition: transform 0.2s;
  font-size: 0.8rem;
}

details[open] .accordion-icon {
  transform: rotate(90deg);
}

/* Mobile nav accordion - no background/border styling */
details.nav-accordion {
  border: none;
  margin: 0;
}

details.nav-accordion .nav-accordion-header {
  cursor: pointer;
  list-style: none;
}

details.nav-accordion .nav-accordion-header::-webkit-details-marker {
  display: none;
}

/* Full-width announcement banner */
.announcement-banner-fullwidth {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #e8f4f8 0%, #d1e8f0 100%);
  border-top: 2px solid #0077b6;
  border-bottom: 2px solid #0077b6;
  padding: 1rem 2rem;
  margin: 0 -1rem 2rem -1rem;
  text-align: center;
  width: calc(100% + 2rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-banner-fullwidth .announcement-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.2rem;
}

/* Confetti canvas - contained within banner */
#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}