{{ define "main" }}
  <div class="columns">
    <div class="column col-sm-12 col-lg-8 col-xl-8">
        {{ .Content }}
    <!-- </div> -->
    <!-- <div class="column col-sm-12 col-lg-4 col-xl-4 callout">
      <div class="hero hero-sm  text-center">
        <div class="hero-body">
          <p>Registration Open</p>
          <h2>
            <a class="btn btn-link linkz"
               href="https://www.eventbrite.com/e/chippewa-valley-code-camp-2025-tickets-1128422765869"
               target="_blank">REGISTER HERE
            </a>
          </h2>
          <br/>
          <p>Call for Speakers Open</p>
          <h2>
            <a class="btn btn-link linkz" href="https://www.papercall.io/cvcc2025" target="_blank">SUBMIT PRESENTATION
            </a>
          </h2>
        </div>
      </div>

    </div> -->
  <!-- </div>
  <div class="columns">
    <div class="column col-sm-12 col-lg-8"> -->
<!-- 
      <h3 id="when">When</h3>

      <p>March 15th, 2025 (8:30 am - 4:15 pm)</p>

      <h3 id="where">Where</h3>

      Chippewa Valley Technical College (CVTC) - Business Education Center <br/>
        620 W. Clairemont Avenue<br/>
        Eau Claire, WI 54701

      <h3 id="cost">Cost</h3>

      <p>It's FREE (For you!)</p> -->
    </div>
    <div class="column col-sm-12 col-lg-4 col-xl-4 callout text-center">
      <div class="hero hero-sm">

        <div class="hero-body">
          <p>
            Hosted by the CVDG
          </p>
          <a href="https://cvdevgroup.org" target="_blank">
            <img src="/img/cvdevgroup-logo.jpg" alt="Group Logo"/>
          </a>

        </div>
        <br/>
        <br/>
        <br/>
      <div class="hero-body">
        <p>
          Sponsored By:
        </p>
        <div class="columns">
          {{ $section := site.GetPage "section" "sponsors" }}
          {{ range $section.RegularPages }}
            <div class="column col-6 col-xs-12 sponsor-card card" style="vertical-align: middle">
                <!-- <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2> -->
                <!-- <div class="hero bg-gray"> -->
                <!-- <div class="card" style="height: 10rem; vertical-align: middle"> -->
                  <a href='{{  .Param "sponsorLink" }}' style="z-index:0;">
                    <div class="card-image" style="height: 150px; vertical-align: middle; position:relative;">
                    
                        <img src='{{  .Param "sponsorImg" }}' class="img-responsive" style="vertical-align: middle; top: 25%; position:absolute; max-height:110px; max-width:100%; left: 2%; z-index:0; text-align:center;"/>
                    
                    </div>
                    <div class="card-header">
                    <div class="card-title h5" style="z-index:1; position:relative;">{{ .Title }}</div>
                    <!-- <div class="card-subtitle text-gray">...</div> -->
                    </div>
                    <div class="card-body">
                    
                    </div>
                    <!-- </div> -->
                  </a>
                <!-- </div> -->
            </div>
        
            
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <!-- {{ range site.RegularPages }}
    <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
    {{ .Summary }}
  {{ end }} -->

{{ end }}
