{{ define "main" }}
  <div class="columns">
    <div class="column col-sm-12 col-lg-8 col-xl-8">
      {{ .Content }}
    </div>
    <div class="column col-sm-12 col-lg-4 col-xl-4 callout">
      <div class="hero hero-sm bg-gray">
        <div class="hero-body">
          <p>Registration is now open!</p>
          <h2><a href="https://www.eventbrite.com/e/chippewa-valley-code-camp-2025-tickets-1128422765869" target="_blank">Register to Attend!</a></h2>
          <br/>
          <p>Call for Speakers is now open!</p>
          <h2><a href="https://www.papercall.io/cvcc2025" target="_blank">Submit a Presentation!</a></h2>
        </div>
      </div>

    </div>
  </div>
    <div class="columns">
      <div class="column col-sm-12 col-lg-8">
      
      <h3 id="when">When</h3>
      
      <p>March 15th, 2025 (8:00 am - 5:00 pm)</p>
      
      <h3 id="where">Where</h3>
      
      <p>Chippewa Valley Technical College (CVTC) - Business Education Center <br/>
      620 W. Clairemont Avenue<br/>
      Eau Claire, WI 54701</p>
      
      <h3 id="cost">Cost</h3>
      
      <p>It's FREE (For you!)</p>
    </div>
  </div>
 
  <!-- {{ range site.RegularPages }}
    <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
    {{ .Summary }}
  {{ end }} -->

{{ end }} 

