{{ define "main" }}
  <h1>Proudly Sponsored By:</h1>
  <!-- {{ .Content }} -->

<div class="columns">
    {{ range .RegularPages }}
    <div class="column col-4 col-xs-12" style="vertical-align: middle">

            <a href='{{  .Param "sponsorLink" }}'>

        <div class="card" style="height: 10rem; vertical-align: middle">
            
            <div class="card-image" style="height: 150px; vertical-align: middle; position:relative; text-align: center;">
              {{ if .Param "sponsorImg" }}  
              <img src='{{  .Param "sponsorImg" }}' class="img-responsive" style="vertical-align: middle; top: 25%; position:absolute; max-height:110px; left: 2%; text-align: center;"/>
              {{ else }}
                
              {{ end }}
            </div>
            <div class="card-header">
            <div class="card-title h5"></div>
            </div>
            <div class="card-body">
            {{ .Title }}
            </div>

        </div>
    </div>
</a>

    
  {{ end }}
</div><br/>
  {{ .Content }}
<br/>
<hr/>
<br/>
<H3>Past Sponsors</H3>
{{ range .Sections }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

{{ end }}
{{ end }}
