    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <!-- <a href="http://twitter.com/CVdevgroup" class="twitter" target="_blank">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a> -->
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            &copy; {{ now.Year }} Chippewa Valley Code Camp. All rights reserved. 
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

<p>Copyright {{ now.Year }}. All rights reserved.</p>
