<!-- Original Doug Code

<div class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="../index.html">
            <strong class="hidden-phone">Chippewa Valley Code Camp</strong>
            <strong class="visible-phone">CVCC</strong>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav nav-pills pull-right">
      <li><a href="../index.html">Home</a></li>
                <li><a href="/2023/register.html">Register</a></li>
      <li><a href="/2023/speakers.html">Speakers</a></li>
      <li><a href="/2023/sessions.html">Sessions</a></li>
      <li><a href="/2023/schedule.html">Schedule</a></li>
      <li><a href="/2023/sponsors.html">Sponsors</a></li>
            </ul>
        </div>
    </div>
  </div>
</div> -->

{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}

  <section class="navbar-section hide-sm">
    <!-- <a href="/" class="navbar-brand mr-2">CVCC</a> -->
     
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    
  </section>
  <section class="navbar-section show-sm">
    <!-- <a href="/" class="navbar-brand mr-2">CVCC</a> -->
     <ul>
    {{- partial "inline/menu/walkMobile.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </section>

{{- end }}


<!-- Before Spectre style -->
<!-- {{- with index site.Menus $menuID }}
<div class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="../index.html">
        <strong class="hidden-phone">Chippewa Valley Code Camp</strong>
        <strong class="visible-phone">CVCC</strong>
    </a>
    <div class="nav-collapse collapse">
      <ul class="nav nav-pills pull-right">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
      </div>
    </div>
  </div>
</div>
{{- end }} -->


{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    
      <a class="btn btn-link"
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        
      {{- end }}
    
  {{- end }}
{{- end }}


{{- define "partials/inline/menu/walkMobile.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a 
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a></li>
    
  {{- end }}
{{- end }}